<h1>Aggiungi Ristorante</h1>
<form action="/Ristoranti" method="post" >
      Nome <p>
      <input type="text"  name="Nome"><p>
        Indirizzo<p>
          <input type="text"  name="Indirizzo"><p>
            Orario Apertura<p>
          <input type="text"  name="OrarioApertura"><p>
            Orario Chiusura<p>
              <input type="text"  name="OrarioChiusura">
                <p>
                  <select name="Turno">
                    <option value="pranzo">Pranzo</option>
                    <option value="cena">Cena</option>
                  </select>
                  <p>
                    email<p>
                      <input type="text"  name="email"><p>
                        telefono<p>
                          <input type="text"  name="telefono"><p>
                              Numero_posti<p>
                                <input type="number"  name="Posti" ><p>
                                    <input type="submit" value="Salva"><p>
                                      
                                    </form>
    <!--<button onclick="window.location.href='/addDisp';">Aggiungi Disponibilita</button>
    <p> PROVA aggiungi Ristorante </p>
    <br/>
    <button onclick="window.location.href='/disp';">Indietro</button>-->
